@media screen and (min-width: $breakpoint-sm) {
    @import './576/index.scss';
}

@media screen and (min-width: $breakpoint-md) {
    @import './768/index.scss';
}

@media screen and (min-width: $breakpoint-lg) {
    @import './992/index.scss';
}

@media screen and (min-width: $breakpoint-xl) {
    @import './1200/index.scss';
}

@media screen and (min-width: $breakpoint-xs) {
    @import './1440/index.scss';
}