// .sidebar-xs{
//     .navbar-header {
//         .navbar-brand-md {
//             display: none;
//     }
//     }
// }
// .sidebar-xs{
//     .navbar-header {
//         .navbar-brand-xs {
//             display: inline-block;
//             min-width: 3.5rem;
//             margin-left: 0;
//             text-align: center;
//         }
//     }
// }