html,
body {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
a {
    cursor: pointer;
}
body {
    min-height: 100vh;
    position: relative;
}
ul, ol {
    list-style: none;
}
button {
    background: none;
    border: none;
}
h1, h2, h3, h4, h5, h6, p, label {
    margin: 0;
}
